body {
    background-color: black;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #33FF00;
}
header .graphic {
    float: right;
    margin-top: 6px;
    font-size: 30px;
    font-weight: bold;
    color: #33FF00;
}
   
nav {
    margin-bottom: 2px;
}

nav a {
    color: #33FF00;
    padding: 1px 5px;
}
t {
  font-size:60px;
  text-align:left;
}

nav sidebar{
  background-color:black;
  padding:2px;
  border:2px solid red;
  margin:0;
  top:10px;
  left:5px;
  width:120px;
  position:fixed;
}
lain{
  position:fixed;
  margin:0;
  top:60%;
}
.active {
    background-color: #33FF00;
    color: black;
    text-decoration: none;
}
.pagination a{
  color: #33FF00;
}

.separator {
    width: 100%;
    height: 13px;
    background-image: url(dot.png);
}
.box {
  width: 100%;
  height: 100%;
  border: 2px solid red;
  box-sizing: border-box;
  padding: 5px;
}
.boxright {
  width:9%;
  height:100%;
  border:2px solid red;
  box-sizing:border-box;
  padding: 5px;
  float:right;
  font-size:12px;
}
.boxleft {
  width:10%;
  height:100%;
  border:2px solid red;
  box-sizing:border-box;
  padding:5px;
  float:left;
  font-size:15px;
}
.pagebox {
  width:62%;
  height:100%;
  border:2px solid red;
  box-sizing:border-box;
  padding:5px;
  margin:auto;
}
main {
    margin: 0 auto;
    width: 800px;
    display: table;
}
footer {
    text-align: right;
    float: right;
    color: #FF0000;
    font-size: 10px;
}
red {
    color:red;
}
section {
    color: #33FF00;
    font-size: 10px;
}

section h1, section h2 {
    font-size: 12px;
    color: red;
}
